*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-size: 16px;
  font-family: "Roboto",sans-serif;
  line-height:1em;
}

.container {
  margin: 0 auto;
  width: 360px;
  }

nav {
  height:80px;
  background-color: #248FB2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.status-bar {
  height: 24px;
  grid-column: 1/span 6;
  display: fixed;
}

.status-bar p {
  color: #fff;
  text-align: right;
  margin-right: 8px;
  margin-top: 4px;
}
.back-arrow {
  display: block;
  color: #fff;
  height: 1.25em;
  margin-left: 16px;
  grid-column: 1/span 1;
  }

h2.page-title {
  font-size: 1.25em;
  letter-spacing: .5px;
  color: #fff;
  padding-left: 80px;
  margin-left: -80px;
  grid-column: 2/span 4;
}

.map {
  background: url("../images/update-map.svg") no-repeat top center;
  background-size: cover;
  display: grid;
  min-height: 200px;
  grid-template: 1fr 1fr/ repeat(3,1fr);
}

.selected-stop {
    background: url("../images/updated-selected-stop.svg") no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-top: 30px;
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}

main {
  background-color: #fff;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.16), 0 -2px 6px rgba(0,0,0,0.23);
  }


h1.stop-name {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    background-color: #155265;
    text-align: left;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    letter-spacing: .5px;
  }

.line-entry {
  margin:8px 0;
  width: 100%;
  display: grid;
  grid-template: 1fr/ repeat(6,1fr);
  grid-gap: 16px;
}

.bus-line {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    }

.bus-line h3 {
  font-size: 1.17em;
  line-height: 2em;
  color: #fff;
  background-color: #FFA84F;
  text-align: center;
  border-radius: 10px;
  width: 48px;
  text-align: center;
  margin-left: 16px;
}

.destination {
    grid-column:2/span 3;
    grid-row: 1/span 1;
  }

.destination p {
  font-size:1em;
  line-height: 1.2em;
}

.bold {
  font-weight: 700;
}

.leaving-time {
  grid-column: 5/span 2;
  text-align: right;
  grid-row: 1/span 1;
  margin-right: 16px;
  }

.time-icon {
  background: url("../images/time-icon.png") no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  grid-row: 1/span 1;
  grid-column: 5/span 2;
  margin-left: 12px;
  }

.leaving-time h6 {
  font-size:.88em;
  line-height: 1.25em;
  }

.leaving-time p {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 700;
 }

.bottom-navbar {
  background-color: #000;
  height: 48px;
  width: 100%;
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3, 1fr);
  justify-items: center;
}

.back {
  background: url("../images/back.svg") no-repeat;
  width: 15px;
  height: 17px;
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  margin-left: 20%;
  }

.home {
  color: #fff;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

.recents {
  color: #fff;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  margin-right: 20%;
}
