*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-size: 16 px;
  font-family: "Roboto",sans-serif;
  margin: 0 auto;
  width: 420px;
  line-height:1em;
  height: 100%;
  }

nav {
  height:100px;
  background-color: #248FB2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.status-bar {
  background-color: rgba(0, 0, 0, 0.4);
  height: 24px;
  grid-column: 1/span 6;
  display: fixed;
}

.status-bar p {
  color: #fff;
  text-align: right;
  margin-right: 8px;
  margin-top: 4px;
}
.back-arrow {
  background: url("../images/arrow_back.png") no-repeat;
  display: block;
  color: #fff;
  width: 20px;
  height: 20px;
  margin-left: 16px;
  grid-column: 1/span 1;
  }

h2.page-title {
  font-size: 1.25em;
  letter-spacing: .5px;
  color: #fff;
  padding-left: 20%;
  margin-left: -40px;
  grid-column: 2/span 4;
}

.map img {
    width:100%;
}

main {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  bottom: 60px;

}

.line-entry {
  display: inline-flex;
  float: left;
  margin:8px 16px 8px 16px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

h1.stop-name {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  background-color: #155265;
  text-align: left;
  padding-left: 16px;
  line-height: 2em;
  letter-spacing: .5px;
}

.bus-line {
    grid-column: 1/span 2;
}

.bus-line h3 {
  font-size: 1.17em;
  line-height: 2em;
  color: #fff;
  background-color: #FFA84F;
  text-align: center;
}

.destination {
    grid-column: 3/span 7;
}

.destination p {
  font-size:1em;
  line-height: 1.5em;
  padding-left: 16px;
}

.leaving-time {
  grid-column: 10/span 3;
  justify-content: end;
}

.time-icon {
  background: url("../images/time-icon.png") no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  padding-left: 4px;
  }

.leaving-time h6 {
  font-size:.88em;
  line-height: 1.25em;
}

.leaving-time p {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 700;
  }

.bottom-navbar {
  background-color: #000;
  height: 48px;
  display: grid;
  grid-template: repeat(3,1fr)/repeat(5, 1fr);
  justify-items: center;
}

.back {
  background: url("../images/back.svg") no-repeat;
  width: 15px;
  height: 17px;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  justify-content: start;
  }

.home {
  background: url("../images/home.svg") no-repeat;
  width: 15px;
  height: 17px;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
}

.recents {
  background: url("../images/recents.svg") no-repeat;
  width: 15px;
  height: 17px;
  grid-column: 4/span 1;
  grid-row: 2/span 1;
  justify-content: end;
}
